.homeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  height: 80%;
  width: 90%;
  overflow: hidden;
}
.leftgrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  height: 78vh;
}
.leftgrid h1 {
  font-family: "Croissant One", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 80px;
  color: black;
  text-align: center;
  line-height: 10rem;
}
.lower_left {
  display: flex;
  color: black;
  flex-direction: column;
}
.lower_left h4 {
  color: black;
  text-align: start;
}
.new_lookImage {
  height: 40rem;
  width: 40rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new_lookImage img {
  width: 300%;
  height: 200%;
}
.right {
  width: 100%;
  border-radius: 23rem 23rem 0 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 88vh;
}
.right img {
  width: 300%;
  height: 200%;
}
