body {
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 8rem;
}
.homeGrid {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 3rem;
  overflow: hidden;
  margin-top: 4rem;
}
.leftgrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  height: 88vh;
  overflow: hidden;
}
.leftgrid h1 {
  font-family: "Croissant One", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 80px;
  color: black;
  text-align: top;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}
.lower_left {
  margin-top: 5rem;
  display: flex;
  color: black;
  flex-direction: column;
}
.lower_left h4 {
  color: black;
  text-align: start;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.new_lookImage {
  height: 40rem;
  width: 40rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new_lookImage img {
  width: 300%;
  height: 200%;
}
.right {
  width: 100%;
  border-radius: 23rem 23rem 0 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 88vh;
}
.right img {
  width: 300%;
  height: 200%;
}
